<nav class="nav flex-column">
  <a class="navbar-brand" href="#" style='color: white; font-weight: bold; background-color: #3A8596;'>CMS simplon</a>
  <ul class="nav-content list-unstyled ps-0">
    <li class="mb-1">
      <button class="btn-articles btn btn-toggle align-items-center rounded collapsed" onclick="goPageArticles()">
        Articles
      </button>
      <div class="content-article">
        <ul class="list-articles btn-toggle-nav list-unstyled fw-normal pb-1 small">
        </ul>
      </div>
    </li>

  </ul>
</nav>

<script language="javascript">

  
  const list_Article = document.querySelector('.list-articles')
  const returnUrl = window.location.protocol + "//" + window.location.host;

  getArticles().then(_articles => {
    if (_articles.length > 0) {
      _articles.forEach(article => {
        let list = document.createElement('li');
        list.classList.add('p-2');
        let link = document.createElement('button');
        link.classList.add('btn')
        link.addEventListener("click", function () {
          const url = returnUrl + '/article/' + article.id;
          window.location.href = url;
        })
        link.innerHTML = ' - ' + article.title
        list.appendChild(link);
        list_Article.appendChild(list);
      });
    }

  })


  async function getArticles() {
    try {

      let response = await fetch("http://localhost:3000/api/articles", {
        method: 'get',
        mode: 'cors',
        cache: 'default'
      })
      response = await response.json();
      const articles = await response.data;
      return articles;

    } catch (error) {
      console.log(error);
    }
  }

  function goPageArticles() {
    const url = returnUrl + '/articles';

    window.location.href = url;
  }

</script>