body {
  font-family: ir;
}

.navbar {
  margin-bottom: 4vh;
}

.nav {
  position: fixed;
  width: 250px;
  height: 100%;
  box-shadow: 1px 1px 2px grey;
  background-color: white;

}

.nav .navbar-brand {
  text-align: center;
  margin-bottom: 3vh;
  width: 100%;
  padding: 2vh;
  border-bottom: 1px solid gray;
}

.collapsible {
  cursor: pointer;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.btn-articles {
  border-bottom: 2px solid #3A8596;

}

.btn-articles:hover {
  border-left: 2px solid #3A8596;
}

.list-articles .btn {
  width: 90%;
  text-align: left;
  border-bottom: 2px solid #3A8596;

}

.list-articles .btn:hover {
  border-left: 2px solid #3A8596;
}