.container {
  margin-left: 400px;
  padding: 4vh 0;
}

.header {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 210px;
  background-color: #212E53;
  padding-left: 400px;
  color: white;
  font-weight: bold;
}

.header::after {
  content: '';
  display: block;
  width: 160px;
  margin-top: 4vh;
  height: 7px;
  background-color: white;
  border-bottom: 1px solid #3A8596;
}

.article {
  height: 200px;
  overflow-y: auto;
  display: flex;
}

.article img {
  margin-right: 3vw;
}

.article div {
  width: 50%;
  padding: 20px;
}


.article h2,
.commentaire h2 {
  margin: 4vh 0;
  width: 100%;

}

.section-commentaires {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5vh;
}

.section-commentaires ::-webkit-scrollbar {
  width: 10px;
}

/* Track */
.section-commentaires ::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
.section-commentaires ::-webkit-scrollbar-thumb {
  background: #3A8596;
  border-radius: 10px;
}

/* Handle on hover */
.section-commentaires ::-webkit-scrollbar-thumb:hover {
  background: #3A8596;
}

.commentaire {
  max-height: 360px;
  width: 50%;
  overflow-y: auto;
}

.commentaire .card {
  border: none;
  border-right: 1px solid #3A8596;
  border-bottom: 1px solid #3A8596;
  margin: 2vh 0;
  margin-right: 2vw;
  width: 90%;
}

.form-commentaire {
  width: 500px;
  border: none;
  margin: 2vh 2vw;

}

@media (max-width: 1025px) {
  .container {
    margin-left: 0;
    padding: 2vh 2vw;
  }

  .header {
    padding-left: 0;
  }

  .article {
    height: auto;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
  }
  .section-commentaires {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 5vh;
  }
  .form-commentaire {
    width: auto;
    border: none;
    margin: 2vh 2vw;
  
  }
}