.navbar {
  background-color: transparent !important;
  position: fixed;
  width: 100%;
  z-index: 1 !important;

}
body {
  font-family: ir;
}
.navbar div {
  display: flex;
}

.navbar .navbar-brand {
  color: white;
  background-color: #212E53;
}
.navbar .navbar-brand:hover {
  color: white;
}


.navbar div a {
  color: white;
  border-top: 1px solid white;
  border-radius: 5px;
  background-color: #212E53;
  transition: all ease 0.2s;
  font-weight: bold;
}

.navbar div a:hover {
  background-color: white;
  color: #212E53;
  border-radius: 5px;
}