<meta charset="UTF-8">
<title>cms_simplon</title>

<!-- CSS (load bootstrap from a CDN) -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.min.css">

<body>
  <nav class="navbar navbar-light bg-light">
    <a class="navbar-brand" href="#">CMS simplon</a>
  </nav>
  <div>
    toto
  </div>
</body>

<script>
  fetch("http://localhost:3000/api/articles", {
    method: 'GET',
    headers: { "Content-Type": "application/json" },
    mode: 'cors',
    cache: 'default'
  })
    .then(response => response.json())
    .then(response => console.log(response))
    .catch(error => console.log("Erreur : " + error));
</script>