<meta charset="UTF-8">
<title>cms_simplon</title>

<!-- CSS (load bootstrap from a CDN) -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.min.css">


<style>
  <%- (partials.sideBarCss) %><%- (css.style) %>
</style>

<body>
  <%- (partials.sideBar) %>

  <section class="header">
    <h2>Tableau de bord </h2>
  </section>
    <section class="dashboard">
      <div class="articles" id='articles'>
        <h2>Articles</h2>
      </div>
      <div class="pages" id='pages'>
        <h2>Pages</h2>
      </div>
      <div class="apparence" id='themes'>
        <h2>Apparence</h2>
      </div>
      <div class="media" id='media'>
        <h2>Media</h2>
      </div>
    </section>
</body>

<script>
<%- (script.js) %>
</script>