<div class="form-group">
  <label for="title_input">Email</label>
  <input type="text" class="form-control" id="email" placeholder="Entrez votre e-mail">
</div>
<div class="form-group mb-5">
  <label for="title">Mot de passe</label>
  <input type='password' class="form-control" id="password">
</div>
<button onclick="login()"> Valider </button>
<div id="message"></div>
<script>
  <%- (script.js) %>
</script>