<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>cms_simplon</title>

<!-- CSS (load bootstrap from a CDN) -->

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.min.css">

<style>
  <%- (partials.navBarCss) %><%- (css.style) %>
</style>

<body>
  <%- (partials.navBar) %>

  <section class="header mb-5">
    <h1>
      Bienvenue sur le blog
    </h1>
  </section>
    <section style='margin-left: 400px;'>
    
      <div class="heading-frame mb-5">
        <h2>Les articles publiés</h2>
      </div>
      <section class="articles">
        
      </section>

    </section>
</body>

<script >
  <%- (script.js) %>
</script>